
<%= @landmark.name %>
<%= @landmark.year_completed %>

<form method="post" action="/landmarks/<%= @landmark.id%>">

Name:
  <input type="text" name="landmark[name]" id="name">
  
Year Completed:
  <input type="text" name="landmark[year_completed]" id="year_completed"> 

<input type="submit" value="Edit Landmark">
</form>